<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Palm 2 no subassemblies 2.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00817070572123263 0.00400831268076743 0.0490377772392898"
        rpy="0 0 0" />
      <mass
        value="0.351437865678242" />
      <inertia
        ixx="0.000206957476372003"
        ixy="-2.09034290393013E-06"
        ixz="-2.82459022276949E-06"
        iyy="0.000241699915650497"
        iyz="-2.11077234096104E-05"
        izz="0.000328252413311293" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link_left_abduction">
    <inertial>
      <origin
        xyz="-0.00664781016917524 0.00874274560261441 -0.00428030963795913"
        rpy="0 0 0" />
      <mass
        value="0.0145790161217404" />
      <inertia
        ixx="3.97698610227541E-06"
        ixy="6.80734334848769E-07"
        ixz="-5.3490731126743E-07"
        iyy="4.78455388695968E-06"
        iyz="1.03428160900958E-06"
        izz="3.99769102448089E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_left_abduction.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_left_abduction.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_left_abduction"
    type="revolute">
    <origin
      xyz="-0.033 0.044564 0.07714"
      rpy="0.34907 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_left_abduction" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_left_flexion">
    <inertial>
      <origin
        xyz="-0.00733015882068718 0.022719478821055 -0.0144907167313079"
        rpy="0 0 0" />
      <mass
        value="0.0371562748581431" />
      <inertia
        ixx="1.15655261658991E-05"
        ixy="9.00703666110546E-07"
        ixz="6.67823072155355E-10"
        iyy="4.73736428344009E-06"
        iyz="-5.35927212071906E-09"
        izz="8.07596321077949E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_left_flexion.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_left_flexion.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_left_flexion"
    type="revolute">
    <origin
      xyz="0.0145 0 0.0135"
      rpy="0 1.5708 0" />
    <parent
      link="Link_left_abduction" />
    <child
      link="Link_left_flexion" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_left_finray_proxy">
    <inertial>
      <origin
        xyz="0.00615126846093869 0.0125848786281801 -0.00979992991190185"
        rpy="0 0 0" />
      <mass
        value="0.0482238548112911" />
      <inertia
        ixx="4.59854172119004E-06"
        ixy="-8.34435604917487E-08"
        ixz="-4.24249910151589E-11"
        iyy="4.25239711801484E-06"
        iyz="-1.51620969413533E-11"
        izz="5.79824829527022E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_left_finray_proxy.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_left_finray_proxy.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_left_finray_proxy"
    type="revolute">
    <origin
      xyz="-0.0069587 0.049513 -0.0045"
      rpy="0 0 0" />
    <parent
      link="Link_left_flexion" />
    <child
      link="Link_left_finray_proxy" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_right_abduction">
    <inertial>
      <origin
        xyz="0.0066478058166686 0.00874274235350638 -0.00428030979241301"
        rpy="0 0 0" />
      <mass
        value="0.0145790130732545" />
      <inertia
        ixx="3.97698607031879E-06"
        ixy="-6.8073349512267E-07"
        ixz="5.34907433196258E-07"
        iyy="4.78455254824815E-06"
        iyz="1.03428181706885E-06"
        izz="3.99768967574518E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_right_abduction.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_right_abduction.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_right_abduction"
    type="revolute">
    <origin
      xyz="0.011 0.044564 0.07714"
      rpy="0.34907 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_right_abduction" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_right_flexion">
    <inertial>
      <origin
        xyz="-0.00733015883599985 0.0227194777021896 0.0147910631599832"
        rpy="0 0 0" />
      <mass
        value="0.0371562731973408" />
      <inertia
        ixx="1.15655251286989E-05"
        ixy="9.00703569728347E-07"
        ixz="-8.30181248670884E-10"
        iyy="4.7373642866103E-06"
        iyz="5.80806433627676E-09"
        izz="8.07596220519765E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_right_flexion.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_right_flexion.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_right_flexion"
    type="revolute">
    <origin
      xyz="-0.0145 0 0.0135"
      rpy="0 1.5708 0" />
    <parent
      link="Link_right_abduction" />
    <child
      link="Link_right_flexion" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_right_finray_proxy">
    <inertial>
      <origin
        xyz="-0.00121695122116458 0.0219486928996214 0.0100001572945815"
        rpy="0 0 0" />
      <mass
        value="0.0184277477667582" />
      <inertia
        ixx="2.66124010740462E-06"
        ixy="8.10798336583284E-07"
        ixz="-3.55413890393363E-11"
        iyy="1.94922639736469E-06"
        iyz="-1.42267817446293E-11"
        izz="3.35051757481269E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_right_finray_proxy.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_right_finray_proxy.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_right_finray_proxy"
    type="revolute">
    <origin
      xyz="-0.0069587 0.049513 0.0048"
      rpy="0 0 0" />
    <parent
      link="Link_right_flexion" />
    <child
      link="Link_right_finray_proxy" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_thumb_rotation">
    <inertial>
      <origin
        xyz="-0.0113435912048129 -1.0547118733939E-15 0.00225278282682926"
        rpy="0 0 0" />
      <mass
        value="0.00539304419111415" />
      <inertia
        ixx="7.87300871275678E-07"
        ixy="2.84778717724388E-21"
        ixz="1.38293079441149E-08"
        iyy="4.45908566363792E-07"
        iyz="3.27083681580724E-22"
        izz="1.19077364674107E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_thumb_rotation.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_thumb_rotation.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_thumb_rotation"
    type="revolute">
    <origin
      xyz="0.0282 -0.024299 0.085066"
      rpy="0.34907 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link_thumb_rotation" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_thumb_abduction">
    <inertial>
      <origin
        xyz="-0.00664780581666807 -0.00874274235350646 -0.00428030979241435"
        rpy="0 0 0" />
      <mass
        value="0.0145790130732544" />
      <inertia
        ixx="3.9769860703188E-06"
        ixy="-6.80733495122671E-07"
        ixz="-5.34907433196256E-07"
        iyy="4.78455254824815E-06"
        iyz="-1.03428181706885E-06"
        izz="3.99768967574517E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_thumb_abduction.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_thumb_abduction.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_thumb_abduction"
    type="revolute">
    <origin
      xyz="0 0.021 0.02"
      rpy="-1.5708 0 0" />
    <parent
      link="Link_thumb_rotation" />
    <child
      link="Link_thumb_abduction" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_thumb_flexion">
    <inertial>
      <origin
        xyz="-0.0227194777021896 0.00733015883599847 -0.014791063159982"
        rpy="0 0 0" />
      <mass
        value="0.0371562731973409" />
      <inertia
        ixx="4.7373642866103E-06"
        ixy="9.00703569728344E-07"
        ixz="5.8080643362762E-09"
        iyy="1.15655251286989E-05"
        iyz="-8.30181248667827E-10"
        izz="8.07596220519765E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_thumb_flexion.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_thumb_flexion.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_thumb_flexion"
    type="revolute">
    <origin
      xyz="0.0145 0 0.0135"
      rpy="1.5708 0 1.5708" />
    <parent
      link="Link_thumb_abduction" />
    <child
      link="Link_thumb_flexion" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link_thumb_finray_proxy">
    <inertial>
      <origin
        xyz="-0.021948692901802 0.0012169512222289 -0.0100001572933417"
        rpy="0 0 0" />
      <mass
        value="0.0184277477676542" />
      <inertia
        ixx="1.94922639725066E-06"
        ixy="8.10798337297165E-07"
        ixz="-1.42269349443006E-11"
        iyy="2.66124010801465E-06"
        iyz="-3.55413974641681E-11"
        izz="3.35051757654112E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_thumb_finray_proxy.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="C:/Users/earak/OneDrive/Desktop/models_hub/DP-FLEX_open_kinematics/assets/asdasdasd/urdf/assets/Link_thumb_finray_proxy.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint_thumb_finray_proxy"
    type="revolute">
    <origin
      xyz="-0.049513 0.0069587 -0.0048"
      rpy="0 0 0" />
    <parent
      link="Link_thumb_flexion" />
    <child
      link="Link_thumb_finray_proxy" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>